.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-size: cover;
  cursor: pointer;

  &-facebook {
    background-image: url('../images/icons/facebook.png');

    &:hover {
      transform: scale(1.1);
    }
  }

  &-instagram {
    background-image: url('../images/icons/instagram.png');

    &:hover {
      transform: scale(1.1);
    }
  }
}
