.nav {
  display: flex;
  column-gap: 28px;

  @include on-desktop {
    column-gap: 50px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    color: $link-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    @include on-desktop {
      font-size: 22px;
    }
  }
}
