.page {
  background: $background-color;
  font-family: 'IBM Plex Sans', serif;
  color: $main-font-color;
  scroll-behavior: smooth;

  &__body {
    box-sizing: border-box;

    min-width: 320px;
    margin: 0;
  }
}
