// screen viewport
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$desktop-large: 1440px;

// colors
$background-color: #fff;
$background-color-menu: #1a5a4c;
$main-font-color: #0f0e08;
$button-color: #1a5a4c;
$link-color: #fff;
$event-topic-color: #4e4e4e;
$effect-duration: 0.3s;
